meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='msapplication-tap-highlight', content='no')
// Chrome, Firefox OS and Opera
meta(name='theme-color', content='#3f51b5')
// Windows Phone
meta(name='msapplication-navbutton-color', content='#3f51b5')
// iOS Safari
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
title Self Schedule Discipliner
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/material-design-iconic-font.min.css')
link(rel='stylesheet', href='/stylesheets/animate.min.css')
link(rel='stylesheet', href='/stylesheets/metisMenu.min.css')
link(rel='stylesheet', href='/stylesheets/jquery.mCustomScrollbar.css')
link(rel='stylesheet', href='/stylesheets/waves.min.css')
link(rel='stylesheet', href='/stylesheets/toastr.css')
link(rel='stylesheet', href='/stylesheets/fullcalendar.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
