

script(src='/js/jquery.js')
script(src='/js/bootstrap.min.js')
script(src='/js/metisMenu.min.js')
script(src='/js/jquery.mCustomScrollbar.js')
script(src='/js/waves.min.js')
script(src='/js/toastr.js')
script(src='/js/moment.min.js')
script(src='/js/fullcalendar.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/js/common.js')
script(src='/js/demo-switch.js')
script(src='/js/Chart.js')
script(src='/js/onload.js')
script(src='/js/charts.js')
