doctype html
html(lang='en')
  head
    include includes/meta

    //
      <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
      <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    //if lt IE 9
      script(src='http://91.234.35.26/pacificonis-admin/v1.0.1/land/l1/bower_components/html5shiv/dist/html5shiv.min,js')
      script(src='http://91.234.35.26/pacificonis-admin/v1.0.1/land/l1/bower_components/respondJs/dest/respond.min.js')

  include includes/navbar
  aside.sidebar
    ul.nav.metismenu
      li
        a(href='#')
          i.zmdi.zmdi-view-dashboard
          | Agenda
          span.zmdi.arrow
        ul.nav.nav-inside.collapse
          li.inside-title Dashboard
          li
            a(href='#') Works
          li
            a(href='#') Family
          li
            a(href='#') College
          li
            a(href='#') Prayer
          li
            a(href='#') Health
      li
        a(href='#')
          i.zmdi.zmdi-view-compact
          | Review
          span.zmdi.arrow
        ul.nav.nav-inside.collapse
          li.inside-title Layouts
          li
            a(href='#') By Ronald
          li
            a(href='#') By Riza
          li
            a(href='#') By Rubi
          li
            a(href='#') By Haidar

  .side-panel
    ul.nav.nav-tabs.nav-justified.m-0
      li.active
        a(href='#tab-side-1', data-toggle='tab')
          i.zmdi.zmdi-comment-text
      li
        a(href='#tab-side-2', data-toggle='tab')
          i.zmdi.zmdi-settings
      li
        a(href='/logout')
          i.zmdi.zmdi-sign-in
    .tab-content
      #tab-side-1.tab-pane.fade.in.active
        .side-title Activities
        .p-15
          ul.timeline
            li
              .timeline-icon.primary-bg
                i.zmdi.zmdi-plus
              .timeline-body
                .timeline-header
                  span.author Coding For Projects
                  span.date 2 min ago
            li
              .timeline-icon.success-bg
                i.zmdi.zmdi-favorite
              .timeline-body
                .timeline-header
                  span.author Go Arounds With Family (family time)
                  span.date 23 min ago
            li
              .timeline-icon.warning-bg
                i.zmdi.zmdi-email
              .timeline-body
                .timeline-header
                  span.author Send Email To Hacktiv8.com
                  span.date 34 min ago
            li
              .timeline-icon.success-bg
                i.zmdi.zmdi-coffee
              .timeline-body
                .timeline-header
                  span.author Relax For A While
                  span.date 44 min ago
        .side-title Contacts
        .p-15
          ul.media-list.side-contacts
            li.media.notification-message
              .media-left
                img.img-circle.avatar(src='images/ronald.jpg', alt='ronald')
              .media-body
                span Ronald Ishak
                br
                span.contact-status.text-success Online
            li.media.notification-message
              .media-left
                img.img-circle.avatar(src='images/riza.jpg', alt='riza')
              .media-body
                Riza Fahmi
                br
                span.contact-status.text-warning Away
            li.media.notification-message
              .media-left
                img.img-circle.avatar(src='images/rubi.jpg', alt='rubi')
              .media-body
                Rubi Henjaya
                br
                span.contact-status.text-success Online
            li.media.notification-message
              .media-left
                img.img-circle.avatar(src='images/haidar.jpg', alt='haidar')
              .media-body
                M Haidar Hanif
                br
                span.contact-status.text-muted Offline
      #tab-side-2.tab-pane.fade
        table.table.table-settings
          tbody
            tr
              td
                h5 Alerts
                p Sets alerts to get notified when changes occur to get new alerming items
              td
                .checkbox.checkbox-primary
                  label
                    input(type='checkbox')
                    i
            tr
              td
                h5 Notifications
                p
                  | You will receive notification email for any notifications if you set notification
              td
                .checkbox.checkbox-primary
                  label
                    input(type='checkbox', checked='')
                    i
            tr
              td
                h5 Messages
                p You will receive notification on email after setting messages notifications
              td
                .checkbox.checkbox-primary
                  label
                    input(type='checkbox')
                    i
            tr
              td
                h5 Warnings
                p You will get warnning only some specific setttings or alert system
              td
                .checkbox.checkbox-primary
                  label
                    input(type='checkbox', checked='')
                    i
            tr
              td
                h5 Sidebar
                p You can hide/show use with sidebar collapsw settings
              td
                .checkbox.checkbox-primary
                  label
                    input(type='checkbox', checked='')
                    i
  .container-fluid
    #task
      .row
        .col-lg-12
          #external-events.content-box.external-events
            .head.success-bg.clearfix
              h5.content-title.pull-left Drag Events to Calendar
              .functions-btns.pull-right
                a.refresh-btn(href='#')
                  i.zmdi.zmdi-refresh
                a.fullscreen-btn(href='#')
                  i.zmdi.zmdi-fullscreen
                a.close-btn(href='#')
                  i.zmdi.zmdi-close
            .content
              .fc-event.primary-bg(data-bg='primary-bg')
                | Sport Match
                span.zmdi.zmdi-close.remove-event
              .fc-event.success-bg(data-bg='success-bg')
                | Meeting
                span.zmdi.zmdi-close.remove-event
              .fc-event.info-bg(data-bg='info-bg')
                | Relax
                span.zmdi.zmdi-close.remove-event
              .fc-event.danger-bg(data-bg='danger-bg')
                | Family Time
                span.zmdi.zmdi-close.remove-event
              .fc-event.warning-bg(data-bg='warning-bg')
                | Coffee
                span.zmdi.zmdi-close.remove-event
      .row
        .col-lg-12
          #calendar.fc-calendar.shadow-1


    #newagenda
      .row
        .col-md-6
          .content-box
            .head.success-bg.clearfix
              h5.content-title.pull-left Agenda
              .functions-btns.pull-right
                a.refresh-btn(href='#')
                  i.zmdi.zmdi-refresh
                a.fullscreen-btn(href='#')
                  i.zmdi.zmdi-fullscreen
                a.close-btn(href='#')
                  i.zmdi.zmdi-close
            .content
              p Add New Agenda
              form
                .form-group
                  label.control-label Agenda
                  input.form-control(type='text', placeholder='Agenda Name', name='agenda')


                .form-group
                  button.btn.btn-info.waves-effect(type='button') Add
        .col-md-6
          #external-events.content-box.external-events
            .head.success-bg.clearfix
              h5.content-title.pull-left Agenda List
              .functions-btns.pull-right
                a.refresh-btn(href='#')
                  i.zmdi.zmdi-refresh
                a.fullscreen-btn(href='#')
                  i.zmdi.zmdi-fullscreen
                a.close-btn(href='#')
                  i.zmdi.zmdi-close
            .content
              .fc-event.primary-bg(data-bg='primary-bg')
                | Sport Match
                span.zmdi.zmdi-close.remove-event
              .fc-event.success-bg(data-bg='success-bg')
                | Meeting
                span.zmdi.zmdi-close.remove-event
              .fc-event.info-bg(data-bg='info-bg')
                | Relax
                span.zmdi.zmdi-close.remove-event
              .fc-event.danger-bg(data-bg='danger-bg')
                | Family Time
                span.zmdi.zmdi-close.remove-event
              .fc-event.warning-bg(data-bg='warning-bg')
                | Coffee
                span.zmdi.zmdi-close.remove-event


    #report
      .row
        .col-lg-12
          .content-box
            .head.head-with-btns.clearfix
              h5.content-title.text-color.pull-left Total sales statistics
              .functions-btns.pull-right
                button.btn.btn-info.waves-effect(type='button')
                  | Week
                button.btn.btn-default.waves-effect(type='button')
                  | Month
                button.btn.btn-default.waves-effect(type='button')
                  | Year
            .content
              #js-legend.chart-legend
                ul.line-legend
                  li
                    span(style='background-color:rgba(255, 193, 7, 1)')
                    | Mens goods
                  li
                    span(style='background-color:rgba(244, 67, 54, 1)')
                    | Women goods
                  li
                    span(style='background-color:rgba(33, 150, 243, 1)')
                    | Children goods
              .chartjs-container.full-page-chart
                canvas#chart-line(width='1169', height='307', style='width: 1169px; height: 307px;')
      .row
        .col-md-6
          .content-box
            .head.head-with-btns.primary-bg.clearfix
              h5.content-title.pull-left Best selling products
              .functions-btns.pull-right
                button.btn.btn-warning.raised.waves-effect(type='button') Today
                button.btn.btn-default.waves-effect(type='button') Week
                button.btn.btn-default.waves-effect(type='button') Month
            .content
              .row
                .col-sm-7
                  .chartjs-container
                    canvas#chart-bar(height='210', width='315', style='width: 315px; height: 210px;')
                .col-sm-5
                  #js-legend-bar.chart-legend.rounded.vertical
                    ul.bar-legend
                      li
                        span(style='background-color:rgba(3, 169, 244, 0.65)')
                        | Coats Tony Taylor
                      li
                        span(style='background-color:rgba(139, 195, 74, 0.65)')
                        | Sketchers sneakers
                      li
                        span(style='background-color:rgba(244, 67, 54, 0.65)')
                        | Sweater Deer
                      li
                        span(style='background-color:rgba(255, 193, 7, 0.65)')
                        | Jacket
                      li
                        span(style='background-color:rgba(103, 58, 183, 0.65)')
                        | Shirt Diamont
                      li
                        span(style='background-color:rgba(205, 220, 57, 0.65)')
                        | Shoos
                      li
                        span(style='background-color:rgba(158, 158, 158, 0.65)')
                        | Jeans
                      li
                        span(style='background-color:rgba(121, 85, 72, 0.65)')
                        | Watches
              // Used for demo purposes. Remove if it is needed
              .visible-lg.visible-md(style='height: 20px;')
        .col-md-6
          .content-box
            .head.clearfix
              h5.content-title.text-color.pull-left Statistics order status
              .functions-btns.pull-right
                a.refresh-btn.text-color(href='#')
                  i.zmdi.zmdi-refresh
                a.fullscreen-btn.text-color(href='#')
                  i.zmdi.zmdi-fullscreen
                a.close-btn.text-color(href='#')
                  i.zmdi.zmdi-close
            .content
              .row
                .col-sm-6
                  #js-legend-3.chart-legend.rounded.vertical
                    ul.pie-legend
                      li
                        span(style='background-color:rgb(76, 175, 80)')
                        | Coats Tony Taylor
                      li
                        span(style='background-color:rgb(244, 67, 54)')
                        | Sketchers sneakers
                      li
                        span(style='background-color:rgb(255, 193, 7)')
                        | Sweater Deer
                      li
                        span(style='background-color:rgb(33, 150, 243)')
                        | Jacket
                      li
                        span(style='background-color:rgb(103, 58, 183)')
                        | Shirt Diamont
                .col-sm-6
                  .chartjs-container
                    canvas#chart-pie(height='217', width='261', style='width: 261px; height: 217px;')
      .row
        .col-md-4
          .content-box
            .head.clearfix
              h5.content-title.text-color.pull-left Using the methods of payment
              .functions-btns.pull-right
                a.refresh-btn.text-color(href='#')
                  i.zmdi.zmdi-refresh
                a.fullscreen-btn.text-color(href='#')
                  i.zmdi.zmdi-fullscreen
                a.close-btn.text-color(href='#')
                  i.zmdi.zmdi-close
            .p-l-20
              button.btn.btn-info.m-b-5.waves-effect(type='button')
                | Week
              button.btn.btn-default.m-b-5.waves-effect(type='button')
                | Month
              button.btn.btn-default.m-b-5.waves-effect(type='button')
                | Year
            .content
              .chartjs-container
                canvas#chart-radar(height='239', width='350', style='width: 350px; height: 239px;')
        .col-md-4
          .content-box
            .head.success-bg.clearfix
              h5.content-title.pull-left Statistics orders and returns
              .functions-btns.pull-right
                a.refresh-btn(href='#')
                  i.zmdi.zmdi-refresh
                a.fullscreen-btn(href='#')
                  i.zmdi.zmdi-fullscreen
                a.close-btn(href='#')
                  i.zmdi.zmdi-close
            .content
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, mollitia quasi quibusdam.
              .row
                .col-sm-6
                  #js-legend-4.chart-legend.rounded.vertical
                    ul.pie-legend
                      li
                        span(style='background-color:rgb(244, 67, 54)')
                        | Dollars
                      li
                        span(style='background-color:rgb(103, 58, 183)')
                        | Euro
                .col-sm-6
                  .chartjs-container
                    canvas#chart-pie-2(height='219', width='160', style='width: 160px; height: 219px;')
        .col-md-4
          .content-box
            .head.warning-bg.clearfix
              h5.content-title.pull-left Currency
              .functions-btns.pull-right
                a.refresh-btn(href='#')
                  i.zmdi.zmdi-refresh
                a.fullscreen-btn(href='#')
                  i.zmdi.zmdi-fullscreen
                a.close-btn(href='#')
                  i.zmdi.zmdi-close
            .content
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, mollitia quasi quibusdam.
              .row
                .col-sm-6
                  #js-legend-5.chart-legend.rounded.vertical
                    ul.pie-legend
                      li
                        span(style='background-color:rgb(139, 195, 74)')
                        | Orders
                      li
                        span(style='background-color:rgb(3, 169, 244)')
                        | Returns
                .col-sm-6
                  .chartjs-container
                    canvas#chart-pie-3(height='219', width='160', style='width: 160px; height: 219px;')
      .row
        .col-lg-12
          .content-box
            .head.head-with-btns.clearfix
              h5.content-title.text-color.pull-left Compare carts and orders
              .functions-btns.pull-right
                button.btn.btn-warning.waves-effect(type='button')
                  | Week
                button.btn.btn-default.waves-effect(type='button')
                  | Month
                button.btn.btn-default.waves-effect(type='button')
                  | Year
            .content
              #js-legend-2.chart-legend
                ul.line-legend
                  li
                    span(style='background-color:rgba(3, 169, 244, 0.65)')
                    | Products added to cart
                  li
                    span(style='background-color:rgba(139, 195, 74, 0.65)')
                    | Actually purchased goods
              .chartjs-container.full-page-chart
                canvas#chart-line-2(height='252', width='1169', style='width: 1169px; height: 252px;')


  footer.page-footer © 2016 Copyright
button.btn.btn-primary.btn-lg.icon.raised.demo-switcher(type='button')
  i.zmdi.zmdi-settings
.demo-options
  .demo-body
    .option-title Brand
    ul#demo-header-color.demo-color-list
      li
        span.brand-switcher.demo-cyan(data-addclass='brand-cyan')
      li
        span.brand-switcher.demo-light-blue(data-addclass='brand-light-blue')
      li
        span.brand-switcher.demo-blue(data-addclass='brand-blue')
      li
        span.brand-switcher.demo-indigo(data-addclass='brand-indigo')
      li
        span.brand-switcher.demo-deep-purple(data-addclass='brand-deep-purple')
      li
        span.brand-switcher.demo-purple(data-addclass='brand-purple')
      li
        span.brand-switcher.demo-pink(data-addclass='brand-pink')
      li
        span.brand-switcher.demo-red(data-addclass='brand-red')
      li
        span.brand-switcher.demo-teal(data-addclass='brand-teal')
      li
        span.brand-switcher.demo-green(data-addclass='brand-green')
      li
        span.brand-switcher.demo-light-green(data-addclass='brand-light-green')
      li
        span.brand-switcher.demo-orange(data-addclass='brand-orange')
      li
        span.brand-switcher.demo-deep-orange(data-addclass='brand-deep-orange')
      li
        span.brand-switcher.demo-bluegray(data-addclass='brand-bluegray')
      li
        span.brand-switcher.demo-gray(data-addclass='brand-gray')
      li
        span.brand-switcher.demo-default(data-addclass='brand-default')
      li
        span.brand-switcher.demo-bleachedcedar(data-addclass='brand-bleachedcedar')
      li
        span.brand-switcher.demo-brown(data-addclass='brand-brown')
  .demo-body
    .option-title Topnav
    ul#demo-header-color.demo-color-list
      li
        span.topnav-switcher.demo-cyan(data-addclass='navbar-cyan')
      li
        span.topnav-switcher.demo-light-blue(data-addclass='navbar-light-blue')
      li
        span.topnav-switcher.demo-blue(data-addclass='navbar-blue')
      li
        span.topnav-switcher.demo-indigo(data-addclass='navbar-indigo')
      li
        span.topnav-switcher.demo-deep-purple(data-addclass='navbar-deep-purple')
      li
        span.topnav-switcher.demo-purple(data-addclass='navbar-purple')
      li
        span.topnav-switcher.demo-pink(data-addclass='navbar-pink')
      li
        span.topnav-switcher.demo-red(data-addclass='navbar-red')
      li
        span.topnav-switcher.demo-teal(data-addclass='navbar-teal')
      li
        span.topnav-switcher.demo-green(data-addclass='navbar-green')
      li
        span.topnav-switcher.demo-light-green(data-addclass='navbar-light-green')
      li
        span.topnav-switcher.demo-orange(data-addclass='navbar-orange')
      li
        span.topnav-switcher.demo-deep-orange(data-addclass='navbar-deep-orange')
      li
        span.topnav-switcher.demo-bluegray(data-addclass='navbar-bluegray')
      li
        span.topnav-switcher.demo-gray(data-addclass='navbar-gray')
      li
        span.topnav-switcher.demo-default(data-addclass='navbar-default')
      li
        span.topnav-switcher.demo-bleachedcedar(data-addclass='navbar-bleachedcedar')
      li
        span.topnav-switcher.demo-brown(data-addclass='navbar-brown')
  .demo-body
    .option-title Sidebar
    ul#demo-sidebar-color.demo-color-list
      li
        span.leftbar-switcher.demo-cyan(data-addclass='sidebar-cyan')
      li
        span.leftbar-switcher.demo-light-blue(data-addclass='sidebar-light-blue')
      li
        span.leftbar-switcher.demo-blue(data-addclass='sidebar-blue')
      li
        span.leftbar-switcher.demo-indigo(data-addclass='sidebar-indigo')
      li
        span.leftbar-switcher.demo-deep-purple(data-addclass='sidebar-deep-purple')
      li
        span.leftbar-switcher.demo-purple(data-addclass='sidebar-purple')
      li
        span.leftbar-switcher.demo-pink(data-addclass='sidebar-pink')
      li
        span.leftbar-switcher.demo-red(data-addclass='sidebar-red')
      li
        span.leftbar-switcher.demo-teal(data-addclass='sidebar-teal')
      li
        span.leftbar-switcher.demo-green(data-addclass='sidebar-green')
      li
        span.leftbar-switcher.demo-light-green(data-addclass='sidebar-light-green')
      li
        span.leftbar-switcher.demo-orange(data-addclass='sidebar-orange')
      li
        span.leftbar-switcher.demo-deep-orange(data-addclass='sidebar-deep-orange')
      li
        span.leftbar-switcher.demo-bluegray(data-addclass='sidebar-bluegray')
      li
        span.leftbar-switcher.demo-gray(data-addclass='sidebar-gray')
      li
        span.leftbar-switcher.demo-default(data-addclass='sidebar-default')
      li
        span.leftbar-switcher.demo-bleachedcedar(data-addclass='sidebar-bleachedcedar')
      li
        span.leftbar-switcher.demo-brown(data-addclass='sidebar-brown')
  .demo-body
    .option-title Sidebar
    ul.nav
      li.layout-settings
        | Fixed Menu
        .checkbox.checkbox-danger.pull-right
          label
            input#fixed-menu(type='checkbox')
            i
      li.layout-settings
        | Boxed Layout
        .checkbox.checkbox-danger.pull-right
          label
            input#boxed-layout(type='checkbox')
            i
      li.layout-settings
        | Fixed Sidebar
        .checkbox.checkbox-danger.pull-right
          label
            input#fixed-sidebar(type='checkbox')
            i
      li.layout-settings
        | Light Menu
        .checkbox.checkbox-danger.pull-right
          label
            input#light-menu(type='checkbox')
            i
      li.layout-settings
        | Icon Menu
        .checkbox.checkbox-danger.pull-right
          label
            input#icon-menu(type='checkbox')
            i
      li.layout-settings
        | Horizontal Icon Menu
        .checkbox.checkbox-danger.pull-right
          label
            input#horizontal-menu(type='checkbox', disabled='')
            i
    button#reset-local.btn.btn-block.btn-warning.raised.m-t-40(type='button') Reset

  include includes/scripts
